:root{
  --bg-color:rgb(252, 239, 239);
  --text-color: rgb(23, 23, 23);
}

body {
  background-color: var(--bg-color);
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nameDisplay{
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.nameDisplay h1{
  color: white;
  padding: 0;
  margin: 0;
}

.boardElementM, .boardElementU{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 20vw;
  border-radius: 7px;
  margin: 10px;
}

.boardElementM p{
  padding: 0;
  margin: 0;
  font-size: 35px;
  color: white;
  font-family: Arial, Helvetica;
}

.boardElementU:hover{
  scale: 1.1;
  cursor: pointer;
}

.board{
  width: 90%;
  padding: 5% 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 7px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.restart{
  justify-content: center;
  margin-top: 30px;
  width: 90%;
  border: 1px solid black;
  font-size: 30px;
  font-family: sans-serif;
  border-radius: 7px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.restart:hover{
  color: white;
  background-color: black;
  transition: ease-in-out;
  transition-duration: 100ms;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.main>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media(min-width:500px){
  .board{
    width: 60%;
  }

  .nameDisplay{
    width: 60%;
  }

  .restart{
    width: 60%;
  }

  .boardElementM, .boardElementU{
    width: 15vw;
    height: 15vw;
  }
}

@media(min-width:900px){
  .board{
    width: 30%;
    padding: 20px 10px;
  }

  .nameDisplay{
    margin-top: -1vw;
    width: 30%;
  }

  .restart{
    width: 30%;
  }

  .boardElementM, .boardElementU{
    width: 7vw;
    height: 7vw;
    margin: 1vw;
  }

  .boardElementM p{
    font-size: 2.7rem;
  }
}
